
body {
	font: 100%/1.4 Calibri,Verdana, Arial, Helvetica, sans-serif;
}


.clearfloat {
	clear:both;
}

.logo {
	width:160px;
	position:absolute;
	left:50%;
	margin-left:-75px;
	margin-top:10px;
	display:inline-block;
	font-size: 15pt;
	font-weight: bolder;
}

.pageBackground {
	background: rgb(252,247,143);background: -moz-linear-gradient(top, rgba(252,247,143,1) 0%, rgba(249,240,64,1) 34%, rgba(249,237,0,1) 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,247,143,1)), color-stop(34%,rgba(249,240,64,1)), color-stop(100%,rgba(249,237,0,1)));background: -webkit-linear-gradient(top, rgba(252,247,143,1) 0%,rgba(249,240,64,1) 34%,rgba(249,237,0,1) 100%);
}

.cmerLogo {
	position:relative;
	left:50%;
	margin-left: -150px;
}

.underline {
	text-decoration: underline;
}

.ui-header {
	height:50px;
}

.hideobj {
	display:none;
}

.homeWrapper {
	margin:auto;
}

.homeContainer {
	text-align:center;
	padding: 9% 0;
}

.addItem {
	width:100px;
	display:inline-block;
	font-size: 10pt;
	float:right;
	margin-top: 2px;
	margin-right: 2px;
}

.backButton {
	width:80px;
	display:inline-block;
	font-size: 10pt;
	float:left;
	margin-top: 2px;
	margin-left: 2px;
}

.compare {
	width:90px;
	display:inline-block;
	font-size: 10pt;
	float:left;
	margin-top: 2px;
	margin-left: 2px;
}

.innerButton {
	font-size:10pt;
}

.fieldContainer {
	margin-left:20px;
	margin-right:20px;
}

.itemsContainer {
	margin-right: 20px;
}

.singleItem {
	margin-top: 15px;
}

.discountContainer {
	width:110px;
	display:inline-block;
}

.discountType {
	display:inline-block;
	width:100px;
}

.ui-btn-text {
	font-size: 8pt;
}

.submit, .cancel {
	margin-top: 35px;
	width:140px;
	position:relative;
	display:inline-block;
}

.delete {
	display:inline-block;
	font-weight: bold;
	font-size: 16pt;
}

.deleteClickHelper {
	display:inline-block;
	float:left;
	width:50px;
	z-index:50;
}

.name {
	position:relative;
	display:inline-block;
	font-size: 11pt;
	margin-left: 8px;
	margin-top:-10px;
	width: 67%;	
}

.selectName, .compareContainer {
	margin-top: 15px;
	background-color: rgba(44, 170, 238, 0.9);
	border-radius: 5px; 
	border: 4px rgb(50, 47, 50); 
	-webkit-box-shadow: rgba(0, 0, 0, 0.7) 0px 6px 15px;
	box-shadow: rgba(0, 0, 0, 0.7) 0px 6px 15px;
	padding: 5px 5px;
	height:auto;
}

.link {
	display:none;
}

.itemLocation {
	position:relative;
	float:right;
}

.price, .hasTax, .noTax {
	float:right;
	display:inline-block;
	font-weight: bold;
	font-size: 16pt;

}
.seperator {
	width: 100px;
	float:right;
}

.tax {
	float: right;
	display:inline-block;
}

.total {
	margin-bottom: 50px;
	float: right;
	display:inline-block;
}

.totalText {
	margin-right:80px;
	margin-bottom: 50px;
	display:inline-block;
	float:right;
}

.totalTax {
	float:right;
	margin-right:5px;
	display:inline-block;
	padding: 1px 5px;
}

.taxContainer {
	width: 70px;
	height: 30px;
	margin-right: 50px;
	display:inline-block;
	margin-top: -15px;
	float:right;
}

.location {

	display:inline-block;
	width:180px;
}

.locationText {
	display:inline-block;
	width:100px;
}

.namefield, .searchText, .location {
	width: 70%;
	display:inline-block;
}

.searchButton {
	width:27%;
	display:inline-block;
}

.updateStore {
	margin-right:8px;
	margin-top:3px;
	float:right;
	position:relative;
	width:100px;
	display:inline-block;
}

.storeLocation {
	color: #fff;
	position:relative;
	display:inline-block;
	font-weight: bold;
	margin-left:8px;
	margin-top: 9px;
	width:65%;
}

.footer {
	background-color: #000;
	position:absolute;
	bottom:0;
	height:52px;
	width:100%;
	overflow:hidden;
}

.GPS {
	right:5px;
	position:absolute;
	width:27%;
	display:inline-block;
}

.location {
	position:absolute;
	width: 65%;
	display:inline-block;
}

.homeButton {
	width:156px;
	height:107px;
	padding-top:30px;
	background-image: -ms-radial-gradient(center, ellipse farthest-corner, #4F4F4F 0%, #00A3EF 100%);
	background-image: -moz-radial-gradient(center, ellipse farthest-corner, #4F4F4F 0%, #00A3EF 100%);
	background-image: -o-radial-gradient(center, ellipse farthest-corner, #4F4F4F 0%, #00A3EF 100%); 
	background-image: -webkit-gradient(radial, center center, 0, center center, 506, color-stop(0, #4F4F4F), color-stop(1, #00A3EF));
	background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #4F4F4F 0%, #00A3EF 100%);
	background-image: radial-gradient(ellipse farthest-corner at center, #4F4F4F 0%, #00A3EF 100%);
	color: #fff;
	font-weight: bold;
	font-size:20pt;
	border-radius: 20px;
	text-align: center;
	display:inline-block;
	margin-bottom: 25px;
	margin-right: 20px;
}

.listName {
	position: relative;
	float: left;
	font-weight: bold;
	display: inline-block;
	width:80%;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap !important;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}

.listPrice {
	position: relative;
	float: right;
	display: inline-block;
}

.back {
	margin-top: 3px;
	width:140px;
	position:relative;
	display:inline-block;
}

.compareName1 {
	font-size: 12pt;
	display: inline-block;
}

.comparePrice1 {
	font-size: 12pt;
	display: inline-block;
	float:right;
}

.compareLocation2 {
	width:50%;
}

.byLocation {
	width: 40%;
	display:inline-block;
}

.compareAll {
	width: 40%;
	display: inline-block;
	float: right;
}

.differenceText {
	display:inline-block;
	font-weight: bold;
}

.difference {
	display:inline-block;
}

.newItemInput {
	display: inline-block;
	width:70%;
}

.newitem {
	margin-left: -40px;
	font-size: 14pt;
	font-weight: bold;
	/*margin-bottom: 10px;*/
	padding:7px 0;
}

.itemText {
	position:relative;
	top:-15px;
	left: 45px;
	display: inline-block;
}

.newItems {
	margin-left:15px;
}

.removeButton {
	display:inline-block;
}

.setRemove {
	margin-bottom: 10px;
	background-color: rgba(44, 170, 238, 0.9);
	border-radius: 5px; 
	border: 4px rgb(50, 47, 50); 
	-webkit-box-shadow: rgba(0, 0, 0, 0.7) 0px 6px 15px;
	box-shadow: rgba(0, 0, 0, 0.7) 0px 6px 15px;
}

.save {
	position:relative;
	float:right;
	width: 150px;
	margin-top: 30px;
}

.overlay {
	margin-top:-100px;
	/*margin-left:-30px;*/
	margin-left: -9999px;
	position:fixed;
	background-color: rgba(50, 47, 50,0.7);
	height: 1000px;
	width: 1000px;
	z-index:10;
}

.fileContainer {
	position: fixed;
	width:250px;
	height:130px;
	left:50%;
	margin-left: -9999px;
	top:50%;
	margin-top:-65px;
	z-index: 12;
	padding:10px 7px;
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 7px; 
	border: 4px rgb(50, 47, 50); 
	-webkit-box-shadow: rgba(0, 0, 0, 0.7) 0px 6px 15px;
	box-shadow: rgba(0, 0, 0, 0.7) 0px 6px 15px;
	text-align: center;
}

.storeContainer {
	position: fixed;
	width:250px;
	height:216px;
	left:50%;
	margin-left: -9999px;
	top:50%;
	margin-top:-115px;
	z-index: 12;
	padding:10px 7px;
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 7px; 
	border: 4px rgb(50, 47, 50); 
	-webkit-box-shadow: rgba(0, 0, 0, 0.7) 0px 6px 15px;
	box-shadow: rgba(0, 0, 0, 0.7) 0px 6px 15px;
}

.deleteContainer {
	position: fixed;
	width:250px;
	height:110px;
	left:50%;
	margin-left: -9999px;
	top:50%;
	margin-top:-65px;
	z-index: 12;
	padding:10px 7px;
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 7px; 
	border: 4px rgb(50, 47, 50); 
	-webkit-box-shadow: rgba(0, 0, 0, 0.7) 0px 6px 15px;
	box-shadow: rgba(0, 0, 0, 0.7) 0px 6px 15px;
	text-align: center;
}

.fileTitle {
	color: #fff;
	font-weight: bold;
}

.storeTitle {
	color: #fff;
	font-weight: bold;
	width:250px;
	position:relative;
	left:50%;
	margin-left: -125px;
	text-align: center;
}

.cancelSave {
	display: inline-block;
	width: 80px;
	position:relative;
	float:left;
}

.updateStoreButton {
	position:relative;
	float:right;
	display: inline-block;
	width: 100px;
}

.cancelStore {
	display: inline-block;
	width: 100px;
}

.orDivider {
	color:#fff;
	position: relative;
	margin-bottom: 10px;
	width:200px;
	text-align: center;
	left:50%;
	margin-left: -100px;
	font-weight: bolder;
}

.okSave {
	display: inline-block;
	width: 80px;
	float:right;
}

.newList {
	position:relative;
	width:150px;
	left:50%;
	margin-left: -75px;
}

.savedItem {
	margin-bottom:20px;
	padding: 10px 10px;
	font-size: 13pt;
	text-align: center;
	background-color: rgba(44, 170, 238, 0.9);
	border-radius: 5px; 
	border: 4px rgb(50, 47, 50); 
	-webkit-box-shadow: rgba(0, 0, 0, 0.7) 0px 6px 15px;
	box-shadow: rgba(0, 0, 0, 0.7) 0px 6px 15px;
	height:50px;
}

.textContainer {
	width:70%;
	margin-left:50px;
	position:relative;
	height:50px;
}

.deleteList {
	z-index:5;
	float:left;
	position:relative;
	top:2px;
	margin-left:10px;
}

.itemSearch {
	position:relative;
	width:180px;
	left:50%;
	margin-left: -90px;
}

.item1contents, .item2contents {
	margin-bottom: 10px;
	width:90%;
	background-color: rgba(44, 170, 238, 0.9);
	border-radius: 5px; 
	border: 4px rgb(50, 47, 50); 
	-webkit-box-shadow: rgba(0, 0, 0, 0.7) 0px 6px 15px;
	box-shadow: rgba(0, 0, 0, 0.7) 0px 6px 15px;
	padding: 8px 8px;
	margin-left:-9999px;
}

.viewOnline {
	border-radius: 7px; 
	border: 4px rgba(50, 47, 50, 0.6); 
	background: rgba(50, 47, 50, 0.6); 
	width: 90px;
	color:#fff;
	padding: 3px 3px;
	display: inline-block;
}

.externLink {
	font-size: 8pt;
	position:relative;
	display:inline-block;
}

.addOverlay {
	display:inline-block;
	position:relative;
	top:16px;
	width:50px;
}